{% extends 'base.html' %}

{% block title %}
Home - Blogs
{% endblock %}


{% block content %}
<!-- <button type="button" onclick="" class="btn btn-primary" style="margin-left: 10px">New Blog</button> -->

<div style="padding: 10px;">
    {% if blogs %}
    {% for blog in blogs %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src={{blog.image.url}} alt="Blog image">
        <div class="card-body">
            <h5 class="card-title">{{blog.title}}</h5>
            <p class="card-text">{{blog.description | truncatechars:"250" }}</p>
            <div>
                <a href="#" class="btn btn-primary">Read More &#x2192</a>
                <div style="display: inline; margin-left: 50px;" onclick="likeABlog('{{blog.id}}')">
                    <i class="fa fa-thumbs-up fa-lg fa-fw text-success" aria-hidden="true"></i>
                    <span>{{blog.likes}}</span>
                </div>
            </div>
            <p>Published on {{blog.created_at | date }}</p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p> Hey! start writing a new blog ... </p>
    {% endif %}
</div>

{% endblock %}

{% block jsfiles %}
<script type="text/javascript">
    function likeABlog(blogid) {
        var url = `{% url 'likeblog' 1 %}`;

        $.ajax({
            url: url,
            type: 'GET',
            success: function (response) {
                console.log(response)
                window.location.reload();
            },
            error: function (error) {
                console.log(error)
                alert(error.message)
            },
        });
    }

</script>
{% endblock %}